body {
  font-family: sans-serif;
  background-color:#030303
}
.home{
  background-color:#030303
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.list-product {
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  border: 1px;
}
.form-background form span{
  background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;

}

.form-background form input[type="text"], input[type="password"], input[type="text"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #fcfeff;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 230px;
}
.btn{
  background-color: #0c6bef;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:hover {
  box-shadow: rgba(14, 84, 205, 0.35) 0 -25px 18px -14px inset,rgba(14, 84, 205, 0.25) 0 1px 2px,rgba(14, 84, 205, 0.25) 0 2px 4px,rgba(14, 84, 205, 0.25) 0 4px 8px,rgba(14, 84, 205, 0.25) 0 8px 16px,rgba(14, 84, 205, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.label:hover{
  box-shadow: rgba(14, 84, 205, 0.35) 0 -25px 18px -14px inset,rgba(14, 84, 205, 0.25) 0 1px 2px,rgba(14, 84, 205, 0.25) 0 2px 4px,rgba(14, 84, 205, 0.25) 0 4px 8px,rgba(14, 84, 205, 0.25) 0 8px 16px,rgba(14, 84, 205, 0.25) 0 16px 32px;
  transform: scale(1.05) ;
}
.list-product {
  
  color: #fcfeff;
} 
/* .NLIList {
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
 
}  */
.NLITitle{
  align-content: center;
}
.outerDiv {
  /* border: solid 2px pink; */
  width: 95%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.NLIcontainer{
  /* flex-direction: row; */
  /* height: 400px;
  width: 350px; */
  /* height: 100%;*/

  width: 30%; 
  height: 60%;
  background-color: #2b2727;
  /* flex-direction: row; */
  border-radius: 25px;
  /* border-top-left-radius: 25px; */
  /* border: solid 2px red; */
  margin-bottom: 5%;
}

.bottomInnerBox{
  /* padding: 20px; */
  color: #fcfeff;
  height: 300px;
  text-align: center;
  /* border: solid 2px pink */
}
.upperInnerBox{
  /* display: flex;
  justify-content: center;
  padding-left: 65px;
  padding-top: 50px; */
  /* width: 100%; */
  /* height: 90px; */
  /* border: solid 2px rgb(82, 246, 11); */
  height: 60%;
} 
img {
  width:100%;
  height: 300px;
  border-radius: 25px;
}
.title{
  height: 15%;
  margin-top: 20px;
  color: white;
  /* border: solid 2px yellow; */
}
.description{
  height: 60%;
  /* border: solid 2px yellow; */
}
.price{
  height: 15%;
  /* border: solid 2px yellow; */
}

.allProductViewName{
  color: #fcfeff;
  margin-top: 15px;
  text-align: center;

}
.allProductViewName:hover{
  
  box-shadow: rgba(107, 215, 120, 0.35) 0 -25px 18px -14px inset,rgba(107, 215, 120, 0.35) 0 1px 2px,rgba(107, 215, 120, 0.35) 0 2px 4px,rgba(107, 215, 120, 0.35) 0 4px 8px,rgba(107, 215, 120, 0.35) 0 8px 16px,rgba(107, 215, 120, 0.35) 0 16px 32px;
  transform: scale(1.05) ;
  
}

.textColor{
  color: #fcfeff;
}
.pageTitle{
  color: #fcfeff;
  text-align: center;
}
.userListTextColor{
  color: #fcfeff;
}
.cartTextColor{
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  }
  .cartTextColor:hover{
  
    box-shadow: rgba(107, 215, 120, 0.35) 0 -25px 18px -14px inset,rgba(107, 215, 120, 0.35) 0 1px 2px,rgba(107, 215, 120, 0.35) 0 2px 4px,rgba(107, 215, 120, 0.35) 0 4px 8px,rgba(107, 215, 120, 0.35) 0 8px 16px,rgba(107, 215, 120, 0.35) 0 16px 32px;
    transform: scale(1.05) ;
    
  }

  .singleProductOuterDiv{
    color: #fcfeff;
    border: solid 2px pink;
    display: flex;
    align-items: stretch;
    /* justify-content: flex-end; */
  }
  .singleViewImage{
  
    width:60%;
  height: 500px;
  padding: 20px;
  border: solid 2px rgb(72, 13, 234);
  }
  .singleImage{
  border: solid 2px rgb(234, 234, 13);
  height: 100%;

  }
  .singleViewInfo{
    flex-grow: 1;
    border: solid 2px rgb(72, 234, 13);
    width: 40%;
    padding: 20px;
    
  }