body {
  font-family: sans-serif;
  background-color:#363b41
}
.home{
  background-color: #363b41;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 200px;
  height: 200px
}

.list-product {
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  border: 1px;
}
.form-background form span{
  background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;

}

.form-background form input[type="text"], input[type="password"], input[type="text"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #fcfeff;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 230px;
}
.btn{
  background-color: #0c6bef;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:hover {
  box-shadow: rgba(14, 84, 205, 0.35) 0 -25px 18px -14px inset,rgba(14, 84, 205, 0.25) 0 1px 2px,rgba(14, 84, 205, 0.25) 0 2px 4px,rgba(14, 84, 205, 0.25) 0 4px 8px,rgba(14, 84, 205, 0.25) 0 8px 16px,rgba(14, 84, 205, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.label:hover{
  box-shadow: rgba(14, 84, 205, 0.35) 0 -25px 18px -14px inset,rgba(14, 84, 205, 0.25) 0 1px 2px,rgba(14, 84, 205, 0.25) 0 2px 4px,rgba(14, 84, 205, 0.25) 0 4px 8px,rgba(14, 84, 205, 0.25) 0 8px 16px,rgba(14, 84, 205, 0.25) 0 16px 32px;
  transform: scale(1.05) ;
}
.list-product {
  
  color: #fcfeff;
} 

/* .allProductViewName{
  display: inline-block;
}      fixes the box to inline block but changes the positioning*/
.allProductViewName{
  color: #fcfeff;
}
.allProductViewName:hover{
  
  box-shadow: rgba(107, 215, 120, 0.35) 0 -25px 18px -14px inset,rgba(107, 215, 120, 0.35) 0 1px 2px,rgba(107, 215, 120, 0.35) 0 2px 4px,rgba(107, 215, 120, 0.35) 0 4px 8px,rgba(107, 215, 120, 0.35) 0 8px 16px,rgba(107, 215, 120, 0.35) 0 16px 32px;
  transform: scale(1.05) ;
  
}

.textColor{
  color: #fcfeff;
}
.pageTitle{
  color: #fcfeff;
  text-align: center;
}
.userListTextColor{
  color: #fcfeff;
}
.cartTextColor{
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  }
  .cartTextColor:hover{
  
    box-shadow: rgba(107, 215, 120, 0.35) 0 -25px 18px -14px inset,rgba(107, 215, 120, 0.35) 0 1px 2px,rgba(107, 215, 120, 0.35) 0 2px 4px,rgba(107, 215, 120, 0.35) 0 4px 8px,rgba(107, 215, 120, 0.35) 0 8px 16px,rgba(107, 215, 120, 0.35) 0 16px 32px;
    transform: scale(1.05) ;
    
  }